<% include partials/head.ejs %>
  <div class="container m-4">
    <img src="<%= user.image %>" alt="" class="rounded-circle"> <span class="h3"><%= user.name %></span>
    <p><a href="/">Back</a></p>
  </div>
<% include partials/footer.ejs %>
